body {font-family: Arial, Helvetica, sans-serif; }
form {
  border: 3px solid #f1f1f1;
  background-color: lightgray;
}
.WelcomeMessage{
  background-color: lightgray;
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* Button */
button {
  background-color: #5236a1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.middle{
  background-color: lightgray;
}

.WelcomeMessage{
  text-align: center;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  size-adjust: 50%;
}

img.logo {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
